.Folder_list {
  padding: 10px;
  height: 100vh;
}

.Folder_list_item {
  list-style-type: none;
  padding: 10px;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid darkslategrey;
}

.Folder_list_item a {
  color: #000;
  text-decoration: none;
}

.Folder_list_item a:hover {
  cursor: pointer;
  color: #444;
}

.Folder_note_count {
  padding-left: 10px;
  font-weight: 400;
  color: darkslategrey;
}

.Folder_list_add_link a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.Folder_list_add_link a:hover {
  text-decoration: underline;
  color: gray;
}